.App__hero {
  animation: pan 120s 4s infinite linear;
  background: #222 url(../../assets/img/joey-kyber-107712.jpg);
  color: white;
  display: flex;
  justify-content: center;
  max-height: 11rem;
  min-height: 11rem;
  padding: 20px;
  position: relative;
}

.App__hero-logo {
  height: 11rem;
  width: 14rem;
  z-index: 3;
}

/* SIGNATURE STYLES */
.main-stroke {
  animation: sign .75s 1 ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  stroke-dasharray: 555;
  stroke-linecap: round;
}

@keyframes sign {
    0% {
        stroke-dashoffset: 555;
    }
    1% {
      opacity: 1;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

/* HIDDEN BACKGROUND STYLES */
.App__hero-overlay {
  animation: fade-in-bg 1.25s 4s ease-in;
  animation-fill-mode: forwards;
  background: #222;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

@keyframes pan {
  0% {
    background-position: 100% 30%;
  }
  50% {
    background-position: 0 30%;
  }
  100% {
    background-position: 100% 30%;
  }
}

@keyframes fade-in-bg {
  from {
    background: #222;
  }
  to {
    background: rgba(0,0,0,0.3);
  }
}

/* CHRISTMAS STYLES */

.App__hero--xmas {
  background: #222 url(../../assets/img/aurora-borealis.png);

  @keyframes pan {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
}
