.App__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 2rem auto 0;
	width: 20rem;
}

@media (max-width: 768px) {
	.App__buttons {
		margin-top: 0;
		width: 30rem;
	}
}

@media (max-width: 640px) {
	.App__buttons {
		width: 20rem;
	}
}

@media (max-width: 428px) {
	.App__buttons {
		width: 16rem;
	}
}
