.App-header {
  background-color: #222;
  color: white;
  display: flex;
  min-height: 10rem;
  justify-content: center;
  padding: 20px;
}

.App-logo {
  height: 10rem;
  width: 12rem;
}

/* SIGNATURE STYLES */
.main-stroke {
  animation: write1 1.5s 1 ease-in;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  stroke-dasharray: 555;
  stroke-linecap: round;
}

@keyframes write1 {
    0% {
        stroke-dashoffset: 555;
    }
    1% {
      opacity: 1;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
