.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50rem;
  height: 100%;
}

.App__content {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;

  & > div {
    box-sizing: border-box;
    width: 50%;
    height: fit-content;
  }
}

.App__intro {
  font-size: 1.39rem;
  padding: 2rem 2rem;
}

.App__intro-tagline {
  text-shadow: 3px 3px #EFFF3B;
}

@media (max-width: 900px) {
  .App {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .App__content {
    flex-direction: column-reverse;

    & > div {
      width: 100%;
    }
  }

  .App__intro {
    padding: 2rem 2rem 1rem;
  }
}
