.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-content {
  flex: 1 0 auto;
}

.App {
  margin: auto;
  width: 50rem;
}

.App-content {
  display: flex;
  flex-direction: row;
}

.App-content > div {
  box-sizing: border-box;
  width: 50%;
  height: fit-content;
}

.App-intro {
  font-size: 1.39rem;
  padding: 2rem;
}

@media (max-width: 900px) {
  .App {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .App-content {
    flex-direction: column-reverse;
  }

  .App-content > div {
    width: 100%;
  }
}
